button {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    height: 60px;
    width: 60px;
}

container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 180px;
}

span {
    border: 2px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    font-size: 25px;
    font-style: bold;
    height: 60px;
    padding-left: 2px;
    padding-top: 10px;
    width: 480px;
}